.Buttomhome {
    margin-top: 1%;
    margin-left: 43%;
}
@media only screen and (max-width: 885px) {
    .Buttomhome {
        height: 80px;
        margin-top: 6%;
        margin-left: 30%;
    }
  } 
  @media only screen and (max-width: 370px) {
    .Buttomhome {
        height: 80px;
        margin-top: 6%;
        margin-left: 10%;
    }
  } 
  
 